@media screen and (min-width: 700px) {

/*-------------------------------------*/
/*---------------Header---------------*/
/*-------------------------------------*/

    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        align-items: center;

        h1 {
            grid-column: span 2;
            text-align: center;
            font-size: 36px;
            margin-bottom: 5px;
        }

        .create-user-form,
        .login-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
        }

        .create-user-form input,
        .login-form input {
            margin-bottom: 6px;
            border-radius: 4px;
            font-size: 12px;
        }

        .create-user-form button,
        .login-form .log-in-button {
            padding: 5px 10px;
            font-size: 12px;
        }
    }
}